<%- include('../../partials/layout/head', { page_title: 'New Game' }) %>

<h1 class="title">All Templates</h1>
<h3 class="title">Click on a template to play that lib!</h3>

<div class="blank-templates">
  <% templates.forEach(template => { %>
    <div class="blank-template" data-path="/libs/<%=template.id%>/games/new">
      <h3 class="title">"<%= template.title %>"</h3>
      <p>Created by: <%= template.author %></p>
      <%- include('../../partials/layout/delete', {url: template.url, trashcan: true}) %>
    </div>
  <% }) %>
</div>

<%- include('../../partials/layout/tail', { footer: 'test' }) %>