<div class="completed-games">
  <% games.forEach(game => { %>
    <div class="completed-game" data-path="/libs/<%= game.stretch_template_id %>/games/<%= game.id %>">
      <% if (allGamesRoute) { %>
        <h3><%= game.title %></h3>
      <% } %>
      <p><%= game.body %></p>
      <p class="user-date">by: <%= game.username %></p>
      <p class="user-date">on: <%= game.date_created %></p>
    </div>
  <% }) %>
</div>