<div class="nav-container">
  <div class="main-nav">
    <a href="/"><img class="main-logo expand-hover" src="/img/codelibs_main_logo.png"></a>
    <div class="hamburger add-pointer">
      <img src="/img/burger2.png" width="50px">
    </div>

    <div class="sidebar-bg" id="close-side-menu">
    </div>

    <div class="main-menu">
        <span class="mobile-spacer"></span>
        <%- include('../navlinks', { curpage: 'Home', link: '/' }) %> > Home </a>
        <span class="drop-down-group">

        <%- include('../navlinks', { curpage: 'New Game', link: '#' }) %> id="mobile-play" >Play</a>

        <%- include('../navlinks', { curpage: 'New Game', link: '#' }) %> class="drop-down" id="mobile-hide" >Play</a>

          <div class="play-drop-down">
              <div>
                <a class="menu-link expand-hover" id="drop-menu-item" href="/random">Random</a>
              </div>
              <div>
                <a class="menu-link expand-hover" id="drop-menu-item"  href="/libs">Pick</a>
              </div>
          </div>
        </span>
        <%- include('../navlinks', { curpage: 'Browse Games', link: '/games' }) %> >Browse</a>
        <%- include('../navlinks', { curpage: 'Create New Lib', link: '/libs/new' }) %> >Create</a>
        <%- include('../navlinks', { curpage: 'About Us', link: '/about' }) %> >About</a>
        <!-- <a class="menu-link" href="/games">Browse</a> -->
        <!-- <a class="menu-link" href="/about">About</a> -->
        <img class="close-menu-arrow expand-hover" src="/img/menu_arrow.png">
        
    </div>
  </div>
</div>