<%- include('../../partials/layout/head', { page_title: 'Browse Games' }) %>

<% if (noGames) { %>
<%- include('../../partials/no_games', { title }) %>
<% } else if (!allGamesRoute) { %>
  <h1>All completed games for <%= title %></h1>
  <%- include('../../partials/completed_games', { games }) %>
<% } else { %>
  <h1>Browse all games for all templates</h1>
  <%- include('../../partials/completed_games', { games, allGamesRoute }) %>
<% } %>

<%- include('../../partials/layout/tail', { footer: 'Test footer' }) %>