<%- include('../../partials/layout/head', { page_title: 'Browse Games' }) %>

<% if (noGames) { %>
  <%- include('../../partials/no_games', { title }) %>
<% } else if (!allGamesRoute) { %>
  <% if (successfullyDeleted) { %>
    <%- include('../../partials/success', { message: 'Game successfully deleted. Here are some completed games for this template that you might like better...' }) %>
  <% } %>
  <h1>All completed games for <%= title %></h1>
  <%- include('../../partials/completed_games', { games }) %>
<% } else { %>
  <h1>Browse all games for all templates</h1>
  <!-- It makes more sense to me to use allGamesRoute both here and on line 10, for consistency's sake. -->
  <%- include('../../partials/completed_games', { games, allGamesRoute }) %>
<% } %>

<!-- Seems like the 'footer' param isn't used at all by the tail partial; why is it here? -->
<%- include('../../partials/layout/tail') %>