<%- include('../../partials/layout/head', { page_title: 'New Game' }) %>

<h1 class="title">"<%= template.title %>"</h1>
<h3 class="title">Template By: <%=template.author%></h3>

  <form class="lib_form" action="/libs/<%=template.id%>/games" method="POST">
    <div>
      <label for="username">Your Name: </label>
      <input type="text" id="username" name="username" placeholder="Your Name" required>
    </div>
    <div>
      <label for="lib_1"><%= template.label_1 %>: </label>
      <input type="text" id="lib_1" name="lib_1" placeholder="<%= template.label_1 %>" required>
    </div>
    <div>
      <label for="lib_2"><%= template.label_2 %>: </label>
      <input type="text" id="lib_2" name="lib_2" placeholder="<%= template.label_2 %>" required>
    </div>
    <div>
      <label for="lib_3"><%= template.label_3 %>: </label>
      <input type="text" id="lib_3" name="lib_3" placeholder="<%= template.label_3 %>" required>
    </div>
    <div>
      <label for="lib_4"><%= template.label_4 %>: </label>
      <input type="text" id="lib_4" name="lib_4" placeholder="<%= template.label_4 %>" required>
    </div>
    <div>
      <label for="lib_5"><%= template.label_5 %>: </label>
      <input type="text" id="lib_5" name="lib_5" placeholder="<%= template.label_5 %>" required>
    </div>
    <div>
      <label for="lib_6"><%= template.label_6 %>: </label>
      <input type="text" id="lib_6" name="lib_6" placeholder="<%= template.label_6 %>" required>
    </div>
    <div>
      <label for="lib_7"><%= template.label_7 %>: </label>
      <input type="text" id="lib_7" name="lib_7" placeholder="<%= template.label_7 %>" required>
    </div>
    <div>
      <label for="lib_8"><%= template.label_8 %>: </label>
      <input type="text" id="lib_8" name="lib_8" placeholder="<%= template.label_8 %>" required>
    </div>
    <div>
      <label for="lib_9"><%= template.label_9 %>: </label>
      <input type="text" id="lib_9" name="lib_9" placeholder="<%= template.label_9 %>" required>
    </div>
    <div>
      <label for="lib_10"><%= template.label_10 %>: </label>
      <input type="text" id="lib_10" name="lib_10" placeholder="<%= template.label_10 %>" required>
    </div>
    <button class="button">Lib it Up!</button>

  </form>

  <%- include('../../partials/layout/tail', { footer: 'Test footer' }) %>