<%- include('../../partials/layout/head', { page_title: 'Completed Game' }) %>

<% if (success) { %>
  <%- include('../../partials/success') %>
<% } %>

<h1><%= title %></h1><button id="share">Share</button>
<h2>Story created by: <%= username %></h2>
<h2><%= date_created %></h2>

<p><%= story %></p>
<a href="/libs/<%= template_id %>/games/new" class="button">Replay this story</a>
<%- include('../../partials/layout/delete', { template_id, game_id }) %>
<a href="/libs" class="button">Pick a different story</a>


<%- include('../../partials/layout/tail', { footer: 'Test footer' }) %>
