<%- include('../../partials/layout/head') %>

<h1><%= game.title %></h1>
<h2><%= game.username %></h2>
<h2><%= game.date_created %></h2>
<ul>
  <li><%= game.lib_1 %></li>
    <li><%= game.lib_2 %></li>
      <li><%= game.lib_3 %></li>
        <li><%= game.lib_4 %></li>
          <li><%= game.lib_5 %></li>
            <li><%= game.lib_6 %></li>
</ul>